{%extends 'my_portfolio/home.html'%}
{% block content %}


<h2>University of Embu.</h2>
<p>April 2023 Bachelor of Science in Computer Science<br>
Relevant coursework: Data Structures and Algorithms, Operating Systems, Database Systems, Computer Networks, Programming Languages, Software Engineering, Artificial Intelligence.</p>
<h2>Koelel High School.</h2>
<p>
December 2018 Kenya Certificate of Secondary Education (KCSE) <br>
The curriculum aims to provide a well-rounded education and prepare students for further studies or careers.
</p>
<h2>Bridges View Academy</h2>
<p>
    I completed my KCPE at Bridges View Academy, where I studied Mathematics, English, Kiswahili, Science and Social Studies
</p>

{% endblock %}