
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Bootstrap CSS -->
    <title>Home Page</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-clear fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'profile' %}">HARRISON</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'education' %}">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profession' %}">Profession</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'skills' %}">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS (Place it at the end of the body) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
