{% extends 'my_portfolio/home.html' %}

{% block content %}

<div class="container">
    <br>	<br>	<br>	<br>	

    <h1>HARRISON MURAYA</h1>
    <h2>Junior software developer</h2>
    <b>Email:</b> harrisonmuraya8@gmail.com<br>	 
    <b>Contact:</b> +2547 2668 8832<br>	
    <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/muraya-harrison">https://www.linkedin.com/in/muraya-harrison</a> <br>
    <b>GitHub:</b>  <a href="https://github.com/Harrison-Muraya">https://github.com/Harrison-Muraya</a>

    <div class="mt-4">
        <h3>Objective</h3>
        <p>
            Results-driven and highly skilled Computer Science professional seeking an internship or job opportunity to leverage my expertise in programming, networking, and software development. Adept at working independently or as part of a team, I excel in high-pressure environments and consistently deliver exceptional results. My strong technical background, combined with excellent problem-solving, analytical, and communication skills, make me a valuable asset to any organization. Expert in the following programming languages: Python, Java, C, C++, and C# programming.
        </p>
    </div>
</div>
{% endblock %}
