
{% extends 'my_portfolio/home.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>SKILLS</h2>
            <ul>
                <li>Proficient in programming languages such as <b>Python</b>, <b>C++</b>, and <b>JavaScript</b>.</li>
                <li>Strong understanding of data structures and algorithms.</li>
                <li>Experience with database management systems such as MySQL and Oracle.</li>
                <li>Familiarity with operating systems such as Windows and Linux.</li>
                <li>Knowledge of computer networks and network protocols.</li>
                <li>Ability to work independently and in a team environment.</li>
                <li>Excellent problem-solving and analytical skills.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
